.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.45em;
    font-size: 0.75em;
    font-weight: bold;
    color: #fff;
    background-color: #777;
    margin: 0 0.25em;
}
.new {
    background-color: #38a169; /* Verde */
}
.featured {
    background-color: #3182ce; /* Azul */
}
.remote {
    background-color: #d88912; /* Amarillo */
}
