.title {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
}

.details {
    color: #09f;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
